{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h1>글 목록입니다.</h1>
            <a href="{% url 'posts:new' %}">write</a>
            <div class="row">
                    {% for post in posts %}
                        <div class="col-md-4 col-12">
                            <div class="card" style="width: 18rem; margin-top: 20px;">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <p class="card-text">{{ post.content }}</p>
                                    <p>{{ post.created_at }}</p>
                                    <a href="{% url 'posts:post_like' post.id %}">
                                        {% if user in post.like_user_set.all %}
                                            <i class="fas fa-heart"></i>
                                        {% else %}
                                            <i class="far fa-heart"></i>
                                        {% endif %}
                                    </a>
                                    <div class="follow-btn">
                                        {% if user != post.user %}
                                            {% if user in post.user.followers.all %}
                                                <a href="{% url 'users:follow_toggle' post.user.id %}" class = "btn btn-danger"> 팔로잉 </a>
                                            {% else %}
                                                <a href="{% url 'users:follow_toggle' post.user.id %}" class = "btn btn-outline-danger">팔로우 </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <br><br>
                                    <a href="{% url 'posts:show' post.pk%}" class="btn btn-primary">show</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    {% else %}
        <h3> 로그인 이후 이용 가능합니다. </h3>
        <a href="{% url 'account_login' %}" class="btn btn-warning"> 로그인 </a>
        <a href="{% url 'account_signup' %}" class="btn btn-warning">로그아웃 </a>
    {% endif %}

{% endblock %}